html, body {
  height: 100%;
  width: 100%;
}

* {
  overflow: hidden;
}

body {
  display: grid;
  grid-template-rows: 150px 1fr;
  font-family: 'Audiowide', Arial, Helvetica, sans-serif;
  background: rgb(1, 1, 60);
}

/* Styling for header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 70px;
  font-weight: 800;
  color: rgb(255, 0, 0);
}

.fa-github-alt {
  font-size: 30px;
  color: white;
  transition: all 0.25s ease-in-out;
}

.fa-github-alt:hover {
  transform: rotate(360deg);
  color: red;
}

.main {
  display: flex;
  justify-content: center;
  gap: 80px;
  flex: 1;
}

/* Styling for the player's board */
.left, .right {
  display: flex;
  flex: 1;
  justify-content: end;
  align-items: center;
  overflow:visible
}


.player-board {
  display: flex;
  border: 2px solid rgb(219, 240, 247);
  flex-direction: column;
  margin-right: 20px;
  box-shadow: rgba(93, 255, 255, 0.56) 0px 22px 70px 4px;
}

.row {
  display: flex;
}

.player-board .square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(20px + 1.3vw);
  height: calc(20px + 1.3vw);
  border: 1px solid rgb(168, 207, 242);
  font-weight: bold;
}

/* Styling for AI board */
.right {
  justify-content: start;
}

.ai-board {
  display: flex;
  border: 2px solid rgb(249, 179, 173);
  flex-direction: column;
  margin-right: 20px;
  box-shadow: rgba(255, 98, 93, 0.7) 0px 22px 70px 10px;
}

.ai-board .square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(20px + 2vw);
  height: calc(20px + 2vw);
  border: 1px solid rgb(251, 148, 148);
  font-weight: bold;
}